<header>
  <div class="container">
    <h1>MY WEATHER</h1>
    <div class="search">
      <input type="text" placeholder="London" [(ngModel)]="cityName" />
      <button (click)="getWeather()" [disabled]="!cityName">
        <img src="../assets/images/search-icon.png" alt="search" />
      </button>
    </div>
  </div>
  <div class="change-day">
    <div class="container">
      <button [ngClass]="{ active: isTodayActive }" (click)="showCurrent()">
        Today
      </button>
      <button [ngClass]="{ active: isForecastActive }" (click)="showForecast()">
        5-days forecast
      </button>
    </div>
  </div>
</header>

<main>
  <div class="container" *ngIf="currentWeather && isTodayActive && !isError">
    <app-weather [currentWeatherTimezoned]="currentWeatherTimezoned"></app-weather>
  </div>

  <div
    class="container"
    *ngIf="forecastWeather.length && isForecastActive && !isError"
  >
    <h3>WEATHER FORECAST</h3>
    <div class="forecast">
      <app-forecast
        [dayForecast]="dayForecast"
        *ngFor="let dayForecast of fiveDaysWeather"
        (click)="selectedDate = dayForecast.dt"
        [ngClass]="{ selected: selectedDate == dayForecast.dt }"
      ></app-forecast>
    </div>
  </div>

  <div
    class="container"
    *ngIf="forecastWeather.length && selectedDate && !isError"
  >
    <h3>HOURLY</h3>
    <div class="hourly">
      <div class="params">
        <p>{{ selectedDate * 1000 | date: "dd.MM.yyyy" }}</p>
        <div class="icon"></div>
        <p>Forecast</p>
        <p>Temp</p>
        <p>Real Feel</p>
        <p>Wind Speed</p>
      </div>
      <app-hourly
        [dayForecast]="dayForecast"
        *ngFor="
          let dayForecast of getThreeHoursWeather(forecastWeatherTimezoned, selectedDate)
        "
      ></app-hourly>
    </div>
  </div>

  <div class="container error-container" *ngIf="isError">
    <app-error></app-error>
  </div>
</main>
